{{% handler:TTHandlerTwo}}
{"allResult":[{{#allResult}}{"time":"{{time}}","lat":{{lat}},"long":{{long}} }{{^last}},{{/last}}{{/allResult}}]}
{"count":[{{#count}}{"count":{{count}} }{{^last}},{{/last}}{{/count}}]}